html body{
  background: #100a1c;
  background-image:
    radial-gradient(20% 10% ellipse at center top, #201e40 0%, rgba(0,0,0,0) 100%),
    radial-gradient(30% 100% ellipse at center bottom, #261226 0%, #100a1c 100%);
  background-attachment: fixed;
  color: #6cacc5;
  margin: 0;
  padding: 5em 0 2em;
  text-align: center;
  height: 100%;


}
.button{
  width: 70px;
  height: 70px;
  font-size: 40px;
  margin: 2;
  cursor: pointer;
  background: rgba(42,50,113, .28);
  color: #6cacc5;
  border: 0;
}
.view{
    width: 290px;
    margin:5;
    font-size: 25px;
    padding: 5;
    height: 45px;
    color: #6cacc5;

}
.main{
   position: absolute;
   top: 15%;
   left: 45%;

}
h1{
  font-size: 30px;
  color: #6cacc5;
  text-align: center;
}
.footer {
    position: absolute;
    bottom: 0;
    width: 100%;
    height: 20px;
    background-color: rgb(255, 255, 255);
}
@@media  screen and (max-width:959px)
{
     .main{
       width: 100%;
     }
     .view{
       width: 30%;
     }

}
